{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

{% if result %}
 succcess!
{% endif %}

<script type="text/javascript">
  
function authenticate(){
    var mail = document.getElementById("email").value;
    var pass =  document.getElementById("password").value;
    var token =  document.getElementsByName("csrfmiddlewaretoken")[0].value;
    
    $.ajaxSetup({
      beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRFToken', token);
      }
    });
    $.ajax({
       type: "POST",
       url: "/login/authenticate",
       contentType: "application/json; charset=utf-8",
       data:  JSON.stringify({ password: pass, email: mail}),
       dataType: "json",
       success: function (result) {
        alert(result.message);
          if(result.message == "success"){
            alert("Successfully login");
          }
       },
       error: function(){
          alert('Error Logging in');
          document.getElementById("errorMessage").style.display='block';

        }
    });
}

function validateMyForm(){
  return false;
}

</script>


    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src='{% static "img/meeting2.jpg" %}' alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
 <!--                 <span class="section-heading-upper">Strong Coffee, Strong Roots</span>   -->
                  <span class="section-heading-lower">Login</span>
                </h2>

                  <form action="/login/authenticate" onsubmit="event.preventDefault(); return validateMyForm();" method="POST">
                    {% csrf_token %}
                      <div class="form-group">
                          <label for="exampleInputEmail1">Email address  </label>
                          <input id="email" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
   <!--                       <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                      </div>
                      <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input id="password" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
                      </div>
                      <!--                      <div class="form-check">
                                                       <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                              <label class="form-check-label" for="exampleCheck1">Keep me logged in</label>
                      </div>  -->
                      <button type="submit" onclick="authenticate()" class="btn btn-primary">Submit</button> 
                      <div id="errorMessage" style="display:hidden>
                      Invalid Email or Password.  
                      </div>
                  </form>
                  </br>
                  <p style="display: inline-block">Don't have an account yet?   </p> <a href="{% url 'register' %}" style="padding-left: 5%">  Register</a>





              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}