{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

 <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-lower">History</span>
              </h2>

            {% if meeting_list %}
              <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
              {% for meeting in meeting_list %}
                <li class="list-unstyled-item list-hours-item d-flex">
                  <a href="{% url 'script' %}">{{meeting.name}}</a>
                  <span class="ml-auto">{{meeting.dateTime}}</span>
                </li>
              {% endfor %}
              </ul>
            {% else %}
                 <p>No meetings are stored.</p>
            {% endif %}

              <div class="pagination">
                <span class="step-links">
                  {% if meeting_list.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ meeting_list.previous_page_number }}">previous</a>
                  {% endif %}

                  <span class="current">
                      Page {{ meeting_list.number }} of {{ meeting_list.paginator.num_pages }}.
                  </span>

                  {% if meeting_list.has_next %}
                      <a href="?page={{ meeting_list.next_page_number }}">next</a>
                      <a href="?page={{ meeting_list.paginator.num_pages }}">last &raquo;</a>
                  {% endif %}
                </span>
              </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}