{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<script>
    var fileName =  'meetingScript.txt';
    var lang = "en";
    const apiKey = "AIzaSyCyfyVPn-B32wrLWmn1NipiK822dRxXGhg";
    // Set endpoints
    const endpoints = {
      translate: "",
      detect: "detect",
      languages: "languages"
    };
    var origin = "";

    function downloadInnerHtml(filename, elId, mimeType) {
        var elHtml = document.getElementById(elId).innerHTML;
        var link = document.createElement('a');
        var currentClass = "currentLang";
        var mimeType = mimeType || 'text/plain';
        link.setAttribute('download', filename);
        link.setAttribute('href', 'data:' + mimeType + ';charset=utf-8,' + encodeURIComponent(elHtml));
        link.click(); 
    }

    function downloadMeetingScript(){
        downloadInnerHtml(fileName, 'script','text/html');
    }

        // Abstract API request function
    function makeApiRequest(endpoint, data, type, authNeeded) {
      url = "https://www.googleapis.com/language/translate/v2/" + endpoint;
      url += "?key=" + apiKey;
      
      // If not listing languages, send text to translate
      if (endpoint !== endpoints.languages) {
        url += "&q=" + encodeURI(data.textToTranslate);
      }

      // If translating, send target and source languages
      if (endpoint === endpoints.translate) {
        url += "&target=" + data.targetLang;
        url += "&source=" + data.sourceLang;
      }

      // Return response from API
      return $.ajax({
        url: url,
        type: type || "GET",
        data: data ? JSON.stringify(data) : "",
        dataType: "json",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json"
        }
      });
    }

    function translates(data) {
        makeApiRequest(endpoints.translate, data, "GET", false).success(function(resp) {
        document.getElementById('script').value = resp.data.translations[0].translatedText;
        });
    }


    function trans(){
        var toLang = document.getElementById("language").value;
        if(origin==""){
            origin = document.getElementById("script").value;
        }
        if(toLang == "en"){
            document.getElementById('script').value = origin;
        }
        else{
            translationObj = {
                sourceLang: 'en',
                targetLang: toLang,
                textToTranslate: origin,
            };

          if (translationObj.targetLang !== null) {
            translates(translationObj);
            lang = toLang;
          } else {
            alert("An error has occured");
          }
        }

        //get content to translate
        var content = document.getElementById('script').value;   
      }

</script>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4 ">
                        <span class="section-heading-lower">Meeting ? Script</span>
                    </h2>
                    <div class="dropdown " style="margin-bottom:10px; margin-left: 80%; ">
                        <select class="form-control btn btn-primary dropdown-toggle" id="language" style="width:120px;" onchange="trans()">
                            <option value="en">English</option>
                            <option value="zh-CN">Chinese</option>
                            <option value="ms">Malay</option>
                            <option value="ta">Tamil</option>
                        </select>
                    </div>

                    <textarea id="script" style="margin-top:20px;height:400px;width:100%;overflow:auto;background-color:#bbccdd; scrollbar-base-color:gold;font-family:sans-serif;padding:20px">
                      {{ text }}
                    </textarea>

                    <button style="margin-top:30px; margin-bottom:30px; margin-right: 20px"  class="btn btn-primary" id='btnSum'>Topic Summary</button>
                    <button style="margin-top:30px; margin-bottom:30px" onclick="downloadMeetingScript()" class="btn btn-primary">Download</button>

                </div>
            </div>
        </div>
    </div>
</section>

<script src='{% static "js/jquery.min.js" %}'></script>
<script type="text/javascript">
$('#btnSum').click(function(){
    $.ajax({
      type: "POST",
      dataType: 'json',
      url: "{% url 'summary' %}",
      data: JSON.stringify({type: $("#btnSum").text() , text: $("#script").val()}),
      success:function(response) {
        if ($("#btnSum").text() == "Original")
            $("#btnSum").text("Topic Summary");
        else
            $("#btnSum").text("Original");

        $("#script").val(response.text);
      }
    });
})
</script>

{% endblock %}


