{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}



<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4 ">
                        <span class="section-heading-lower">Meeting ? Script</span>
                    </h2>

                    <div class="dropdown " style="margin-bottom:10px; margin-left: 80%; ">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown";>
                           Languages
                        </button>
                        <div class="dropdown-menu" style="font-size: small">
                            <a class="dropdown-item" href="#">Original</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">English</a>
                            <a class="dropdown-item" href="#">Chinese</a>
                            <a class="dropdown-item" href="#">Malay</a>
                            <a class="dropdown-item" href="#">Tamil</a>
                        </div>
                    </div>

                    <div style="margin-top:20px;height:400px;width:100%;overflow:auto;background-color:#bbccdd; scrollbar-base-color:gold;font-family:sans-serif;padding:20px">

                    <span id="ttt">
                            {{ text }}

                    </span>
                    </div>




 <!--                   <div id="audio">
                        <audio
                                id="meeting_audio" controls
                                src="http://soundbible.com/mp3/Tyrannosaurus%20Rex%20Roar-SoundBible.com-807702404.mp3">
                            Your browser does not support the <code>audio</code> element.
                        </audio>
                    </div>-->
                    <button style="margin-top:30px; margin-bottom:30px; margin-right: 20px"  class="btn btn-primary" id="btnSum">Topic Summary</button>
                    <button style="margin-top:30px; margin-bottom:30px"  class="btn btn-primary">Download</button>

                </div>
            </div>
        </div>
    </div>
</section>
</section>

<script src='{% static "js/jquery.min.js" %}'></script>
<script type="text/javascript">
$('#btnSum').click(function(){
    $.ajax({
      type: "POST",
      dataType: 'json',
      url: "{% url 'summary' %}",
      data: JSON.stringify({type: $("#btnSum").text() , text: $("#ttt").text()}),
      success:function(response) {
        if ($("#btnSum").text() == "Original")
            $("#btnSum").text("Topic Summary");
        else
            $("#btnSum").text("Original");

        $("#ttt").text(response.text);
      }
    });
})
</script>

{% endblock %}


